<app-header></app-header>

<ion-content [fullscreen]="true" class="background">

   <!--Carnes -->
 <h1 class="ion-text-center">Carnes Cortes</h1>
 <ion-grid>
   <ion-row>
     <ion-col size="6">
       <ion-card >
         <img class="imgCard" src="../../../assets/imgCarnes/arrachera.jpg" alt="">
         <ion-card-subtitle>
           <h3 class="ion-text-center">Arrachera</h3>
          </ion-card-subtitle>
          <h4 class="ion-text-center">
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
          </h4>
          <h4 class="ion-text-center">
           $250.00
          </h4>
     </ion-card>
     </ion-col>
     <ion-col size="6">
       <ion-card >
         <img class="imgCard" src="../../../assets/imgCarnes/new-york.jpg" alt="">
         <ion-card-subtitle>
           <h3 class="ion-text-center">New York</h3>
          </ion-card-subtitle>
          <h4 class="ion-text-center">
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
          </h4>
          <h4 class="ion-text-center">
           $290.00
          </h4>
     </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>

 <!--Grilla numero 2-->

 <ion-grid>
   <ion-row>
     <ion-col size="6">
       <ion-card >
         <img class="imgCard" src="../../../assets/imgCarnes/ribeye.jpg" alt="">
         <ion-card-subtitle>
           <h3 class="ion-text-center">Rib-Eye</h3>
          </ion-card-subtitle>
          <h4 class="ion-text-center">
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>

          </h4>
          <h4 class="ion-text-center">
           $200.00
          </h4>
     </ion-card>
     </ion-col>
     <ion-col size="6">
       <ion-card >
         <img class="imgCard" src="../../../assets/imgCarnes/tbone.jpg" alt="">
         <ion-card-subtitle>
           <h3 class="ion-text-center">T-Bone</h3>
          </ion-card-subtitle>
          <h4 class="ion-text-center">
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
           <ion-icon name="star"></ion-icon>
          </h4>
          <h4 class="ion-text-center">
           $400.00
          </h4>
     </ion-card>
     </ion-col>
   </ion-row>
 </ion-grid>

<!--Division 1-->

<div class="card-divider"></div>

<!--Division 1-->

<h1 class="ion-text-center">Especiales De Ocasión </h1>
<ion-grid>
 <ion-row>
   <ion-col size="6">
     <ion-card >
       <img class="imgCard" src="../../../assets/imgCarnes/picanha.jpg" alt="">
       <ion-card-subtitle>
         <h3 class="ion-text-center">Picanha Al Horno</h3>
        </ion-card-subtitle>
        <h4 class="ion-text-center">
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
        </h4>
        <h4 class="ion-text-center">
         $560.00
        </h4>
   </ion-card>
   </ion-col>
   <ion-col size="6">
     <ion-card >
       <img class="imgCard" src="../../../assets/imgCarnes/birria.jpg" alt="">
       <ion-card-subtitle>
         <h3 class="ion-text-center">Birria Especial</h3>
        </ion-card-subtitle>
        <h4 class="ion-text-center">
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
         <ion-icon name="star"></ion-icon>
        </h4>
        <h4 class="ion-text-center">
         $450.00
        </h4>
   </ion-card>
   </ion-col>
 </ion-row>
</ion-grid>


</ion-content>
