<app-header></app-header>

<ion-content [fullscreen]="true" class="background">
  <ion-card>
    <ion-img src="../../../assets/imgEntradas/coctelchico.png" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center">Coctel Chico De Camaron</h1>
      <p class="card-text">Coctel de camaron tamaño pequeño con dosis de jugo de coctel </p>
      <p class="card-price">$75.00</p>
    </ion-card-content>
  </ion-card>

  <!--Division 1-->

<div class="card-divider"></div>

<!--Division 1-->

<ion-card>
  <ion-img src="../../../assets/imgEntradas/consome.jpg" alt="Image of the dish"></ion-img>
  <ion-card-content>
    <h1 class="card-title ion-text-center">Consome De Pescado</h1>
    <p class="card-text">Pequeño caldo de pescado con una porcion de posta de robalo</p>
    <p class="card-price">$90.00</p>
  </ion-card-content>
</ion-card>


  <!--Division 1-->

  <div class="card-divider"></div>

  <!--Division 1-->

  <ion-card>
    <ion-img src="../../../assets/imgEntradas/croqueta.jpeg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center">Croquetas De Pescado</h1>
      <p class="card-text">Croquetas de robalo empanizadas </p>
      <p class="card-price">$65.00</p>
    </ion-card-content>
  </ion-card>


  <!--Division 1-->

<div class="card-divider"></div>

<!--Division 1-->

<ion-card>
  <ion-img src="../../../assets/imgEntradas/empanadillas.jpg" alt="Image of the dish"></ion-img>
  <ion-card-content>
    <h1 class="card-title ion-text-center">Empanadillas</h1>
    <p class="card-text">Porcion (5) de empanadas de pescado y camaron fritadas</p>
    <p class="card-price">$60.00</p>
  </ion-card-content>
</ion-card>


  <!--Division 1-->

  <div class="card-divider"></div>

  <!--Division 1-->

  <ion-card>
    <ion-img src="../../../assets/imgEntradas/guacamole.jpg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center">Guacamole</h1>
      <p class="card-text">Pasta de aguacate acompañada de totopos</p>
      <p class="card-price">$50.00</p>
    </ion-card-content>
  </ion-card>

  

</ion-content>
