<app-header></app-header>

<ion-content [fullscreen]="true" class="background">

  <!--Bebidas comerciales-->
 <h1 class="ion-text-center">Bebidas Comerciales</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card >
          <img class="imgCard" src="../../../assets/imgBebidas/cocacola.jpeg" alt="">
          <ion-card-subtitle>
            <h3 class="ion-text-center"> Coca-Cola</h3>
           </ion-card-subtitle>
           <h4 class="ion-text-center">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
           </h4>
           <h4 class="ion-text-center">
            $25.00
           </h4>
      </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card >
          <img class="imgCard" src="../../../assets/imgBebidas/squirt.jpeg" alt="">
          <ion-card-subtitle>
            <h3 class="ion-text-center"> Squirt</h3>
           </ion-card-subtitle>
           <h4 class="ion-text-center">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
           </h4>
           <h4 class="ion-text-center">
            $25.00
           </h4>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--Grilla numero 2-->

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card >
          <img class="imgCard" src="../../../assets/imgBebidas/sprite.jpg" alt="">
          <ion-card-subtitle>
            <h3 class="ion-text-center"> Sprite</h3>
           </ion-card-subtitle>
           <h4 class="ion-text-center">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
           </h4>
           <h4 class="ion-text-center">
            $25.00
           </h4>
      </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card >
          <img class="imgCard" src="../../../assets/imgBebidas/pepsi.jpeg" alt="">
          <ion-card-subtitle>
            <h3 class="ion-text-center"> Pepsi</h3>
           </ion-card-subtitle>
           <h4 class="ion-text-center">
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
           </h4>
           <h4 class="ion-text-center">
            $25.00
           </h4>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

<!--Division 1-->

  <div class="card-divider"></div>

<!--Division 1-->

<h1 class="ion-text-center">Bebidas Naturales</h1>
<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card >
        <img class="imgCard" src="../../../assets/imgBebidas/horchata.jpeg" alt="">
        <ion-card-subtitle>
          <h3 class="ion-text-center">Agua de Horchata</h3>
         </ion-card-subtitle>
         <h4 class="ion-text-center">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
         </h4>
         <h4 class="ion-text-center">
          $25.00
         </h4>
    </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card >
        <img class="imgCard" src="../../../assets/imgBebidas/tamarindo.jpg" alt="">
        <ion-card-subtitle>
          <h3 class="ion-text-center">Agua de tamarindo</h3>
         </ion-card-subtitle>
         <h4 class="ion-text-center">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
         </h4>
         <h4 class="ion-text-center">
          $25.00
         </h4>
    </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>

<!--Grilla numero 2-->

<ion-grid>
  <ion-row>
    <ion-col size="6">
      <ion-card >
        <img class="imgCard" src="../../../assets/imgBebidas/jamaica.jpg" alt="">
        <ion-card-subtitle>
          <h3 class="ion-text-center">Agua de Jamaica</h3>
         </ion-card-subtitle>
         <h4 class="ion-text-center">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
         </h4>
         <h4 class="ion-text-center">
          $25.00
         </h4>
    </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card >
        <img class="imgCard" src="../../../assets/imgBebidas/naranja.jpg" alt="">
        <ion-card-subtitle>
          <h3 class="ion-text-center">Agua de Naranja</h3>
         </ion-card-subtitle>
         <h4 class="ion-text-center">
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
          <ion-icon name="star"></ion-icon>
         </h4>
         <h4 class="ion-text-center">
          $25.00
         </h4>
    </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
