<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img src="../../../assets/imgPostres/flan.jpeg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center">Flan Napolitano</h1>
      <p class="card-text ion-text-center">Flan cacero con cubirta de caramelo </p>
      <p class="card-price ion-text-center">$25.00</p>
    </ion-card-content>
  </ion-card>

  <div class="card-divider"></div>

  <ion-card>
    <ion-img src="../../../assets/imgPostres/helados.jpeg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center">Helados</h1>
      <p class="card-text ion-text-center">Manzana, Piña, Fresa, Cacao, Elote, Limon, Coco </p>
      <p class="card-price ion-text-center">$40.00</p>
    </ion-card-content>
  </ion-card>

  <div class="card-divider"></div>

  <ion-card>
    <ion-img src="../../../assets/imgPostres/pay.jpeg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center ion-text-center">Pay de Queso</h1>
      <p class="card-text ion-text-center">Pay con relleno de queso con fruta </p>
      <p class="card-price ion-text-center">$35.00</p>
    </ion-card-content>
  </ion-card>

  <div class="card-divider"></div>

  <ion-card>
    <ion-img src="../../../assets/imgPostres/platanos.jpg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title ion-text-center ion-text-center">Platanos Fritos</h1>
      <p class="card-text ion-text-center">Platanos Fritos cocinados acompañados de crema, lechera y mermelada </p>
      <p class="card-price ion-text-center">$25.00</p>
    </ion-card-content>
  </ion-card>

</ion-content>
