<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card>
      <ion-img src="../../../assets/img/tornados.jpg" alt="Image of the dish"></ion-img>
    <ion-card-content>
      <h1 class="card-title">Camarones Tornados</h1>
      <p class="card-text">Camarones rellenos de mariscos envueltos en tocino</p>
      <p class="card-price">$180.00</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/img/ajillo.avif" alt="Image of the dish"></ion-img>
  <ion-card-content>
    <h1 class="card-title">Camarones al ajillo especiales</h1>
    <p class="card-text"> Camarones cocinados en ajillo servidos con arroz</p>
    <p class="card-price">$220.00</p>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-img src="../../../assets/img/pescado.jpg" alt="Image of the dish"></ion-img>
<ion-card-content>
  <h1 class="card-title">Filete de robajo a la veracruzana </h1>
  <p class="card-text"> Filete de robalo al vapor cocinado con verduras especiales</p>
  <p class="card-price">$340.00</p>
</ion-card-content>
</ion-card>

</ion-content>
